[Unit]
Description=Create MuliOS live user
After=systemd-tmpfiles-setup.service
Before=display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'if ! id liveuser >/dev/null 2>&1; then useradd -m -G wheel,audio,video,network -s /bin/bash liveuser; fi; passwd -d liveuser'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
