[Unit]
Description=Create MuliOS live user
Before=sddm.service
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'if ! id liveuser >/dev/null 2>&1; then useradd -m -G wheel,audio,video,network -s /bin/bash liveuser && echo "liveuser:123" | chpasswd; fi'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
