[Desktop Entry]
Type=Application
Name=MuliOS Credits
GenericName=Credits
Comment=MuliOS developers and project information
Exec=/usr/bin/python3 /opt/credits/main.py
TryExec=/usr/bin/python3
Icon=/opt/credits/icons/logo.png
Terminal=false
Categories=System;Utility;
StartupNotify=true
