[Desktop Entry]
Type=Application
Name=MuliOS Credits
GenericName=Credits
Comment=MuliOS developers and project information
Exec=/usr/local/bin/mulios-credits
TryExec=/usr/local/bin/mulios-credits
Icon=/opt/credits/icons/logo.png
Terminal=false
Categories=System;Utility;
StartupNotify=true
