[Desktop Entry]
Type=Application
Name=MuliOS Installer
Comment=Install MuliOS
Exec=/usr/local/bin/mulios-installer
Icon=system-software-install
Terminal=false
Categories=System;
StartupNotify=true
