[Desktop Entry]
Type=Application
Name=MuliOS Installer
Comment=Install MuliOS
Exec=python3 /opt/mulios-installer/main.py
Icon=system-software-install
Terminal=false
Categories=System;
StartupNotify=true
