[Desktop Entry]
Type=Application
Name=MuliOS Welcome
Comment=Discover what's new in MuliOS
Exec=python3 /opt/mulios-changelog/main.py
Icon=/opt/mulios-changelog/archmuli-nobg.png
Terminal=false
Categories=System;
StartupNotify=true
